<section class="hero">

    <div class="container">
       
           
        <div class=" main-home">

                <h1>Mujhe Bs Party Chahiye</h1>
                <p>Bahut dino se buger khane ka mann hai or sabhi jante hai ki <span class="bg">ARPAN</span> se badhiye burger koi nhi khilata qki o burger ke sath sath prem bhi dete hai</p>


                <div class="main-btn">
                    <span class="login-btn"><a href="">Order Now</a></span>
                </div>

            
        </div>


    </div>
</section>
<hr>


<!-- card 2222-->

<section class="extradiv">

    <div class="container">
        <div class="row">
            <% burgers.forEach((burger)=>{ %>
                <div class=" extra-div  col-lg-4 col-md-4 col-sm-6  col-12   ">

                    <div class="card" style="width: 100%;">
                        <img src="/img/<%= burger.image %>" alt="">
                        <div class="card-body ">
                            <div class="text-center">
                                <h5 class="card-title">
                                    <%= burger.name %>
                                </h5>
                                <p>
                                    Size : <%= burger.size %>
                                </p>
                            </div>
                            <div class="pricing">
                                <span class="pricing-left">
                                    Rs : <%= burger.price %>
                                </span>
                                <button data-burger="<%= JSON.stringify(burger) %>" class=" add-cart">
                                    <span>+</span>
                                    <span>Add</span>
                                </button>
                            </div>

                        </div>
                    </div>


                </div>
                <% })%>

        </div>
</section>